<!-- Hero Banner -->
<div class="hero__residencia">
  <div class="hero__overlay"></div>
  <div class="hero__contenido">
    <!-- <p class="hero__label">CONTáCTANOS</p> -->
    <h1 class="hero__titulo">
      Contacto
      <br />
      <span class="hero__titulo--dorado">Estamos Aquí para Acompañarte </span>
    </h1>
    <p class="hero__descripcion">
      Brindamos un entorno de paz, seguridad y cuidado profesional para sus
      seres queridos en el corazón de La Molina
    </p>
    <div class="hero__botones">
      <button class="btn__primario" (click)="scrollToServicios()">
        <span>Explorar más</span>
        <i class="fa-solid fa-chevron-down"></i>
      </button>
    </div>
  </div>
</div>
