<header class="header">
  <!-- Barra superior -->
  <div class="cont1_header">
    <div class="nav1">
      <a href="/blog">Blog</a>
      <a href="/trabaja-con-nosotros">Trabaja con nosotros</a>
      <a href="/residente">Residente</a>
    </div>
  </div>

  <!-- Header principal -->
  <div
    class="cont2_header"
    [class.fixed]="isFixed"
  >
    <nav class="nav2">
      <div class="logo">
        <a href="/">
          <img src="/logo_header.png" alt="Dalias" />
        </a>
      </div>

      <ul class="menu">
        <li><a href="/">Inicio</a></li>
        <li><a href="/nosotros">Nosotros</a></li>
        <li><a href="/servicios">Servicios</a></li>
        <li><a href="/actividades">Actividades</a></li>
        <li><a href="/contactanos">Contáctanos</a></li>
      </ul>

      <button class="btn_header">
        <i class="bx bx-phone"></i>
        <div class="contact_header">
          <span>(01) 000 1111</span>
          servicio&#64;lasdalias.com
        </div>
      </button>
    </nav>
  </div>
</header>
