<!-- Hero Banner -->
<div class="hero__residencia">
  <div class="hero__overlay"></div>
  <div class="hero__contenido">
    <!-- <p class="hero__label">CENTRO DE DÍA</p> -->
    <h1 class="hero__titulo">
      Centro de Día
      <br />
      <span class="hero__titulo--dorado"
        >Socialización y Cuidado Especializado
      </span>
    </h1>
    <p class="hero__descripcion">
       Brindamos a nuestros residentes un entorno de bienestar, estimulo y compañía en la Molina. Una experiencia de "Casa Club" diseñada para la plenitud
    </p>
    <div class="hero__botones">
      <button class="btn__primario" (click)="scrollToServicios()">
        <span>Explorar más</span>
        <i class="fa-solid fa-chevron-down"></i>
      </button>
    </div>
  </div>
</div>
